.block-service-availability .current {
  border-radius: 8px;
  padding: 25px;
}

.block-service-availability .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

.block-service-availability .current .heading img {
  width: 48px;
  height: 48px;
  margin: 0 20px 0 0;
}

.block-service-availability .current hr {
  margin: 20px 0 15px 0;
  border-bottom: 1px solid;
}

.block-service-availability .normal {
  background-color: #006B3D;
}

.block-service-availability .limited {
  background-color: #FFD301;
}

.block-service-availability .down {
  background-color: #D61F1F;
}

.block-service-availability .current h3 {
  margin: 0;
  padding: 0;
}

.block-service-availability .normal,
.block-service-availability .normal h3,
.block-service-availability .down,
.block-service-availability .down h3 {
  color: #ffffff;
}

.block-service-availability .limited,
.block-service-availability .limited h3 {
  color: #000000;
}

.block-service-availability .normal hr,
.block-service-availability .down hr {
  margin: 20px 0 15px 0;
  color: #ffffff;
}

.block-service-availability .limited hr {
  margin: 20px 0 15px 0;
  color: #000000;
}

.block-service-availability summary {
  font-weight: bold;
  cursor: pointer;
}

.block-service-availability details[open] summary::before {
  content: "Hide ";
}

.block-service-availability details:not([open]) summary::before {
  content: "Show ";
}

.block-service-availability .upcoming {
  border-radius: 8px;
  border: 1px solid #000000;
  padding: 25px;
  margin-bottom: 25px;
}

.block-service-availability .upcoming h4 {
  margin: 0;
  padding: 0;
}

.block-service-availability .upcoming .heading img {
  width: 24px;
  height: 24px;
  margin: 0 20px 0 0;
}

.block-service-availability .service-message {  
  display: grid;
  grid-template-columns: max-content max-content max-content auto;
  grid-template-rows: 1fr 1fr 1.1fr 0.9fr;
  gap: 0px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "date date-value description description-value"
    "time time-value description description-value"
    "duration duration-value description description-value"
    "impact impact-value description description-value";
}

@media only screen and (max-width: 480px) {
  .block-service-availability .service-message {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "date date-value"
    "time time-value"
    "duration duration-value"
    "impact impact-value"
    "description description-value";
  }
}

.block-service-availability .label {
  font-weight: bold;
}

.block-service-availability .description {
  grid-area: description;
}

.block-service-availability .colunm-2 {
  padding-right: 50px;
}

.block-service-availability .date {
  grid-area: date;
}

.block-service-availability .time {
  grid-area: time;
}

.block-service-availability .duration {
  grid-area: duration;
}

.block-service-availability .impact {
  grid-area: impact;
}

.block-service-availability .date-value {
  grid-area: date-value;
}

.block-service-availability .time-value {
  grid-area: time-value;
}

.block-service-availability .duration-value {
  grid-area: duration-value;
}

.block-service-availability .impact-value {
  grid-area: impact-value;
}

.block-service-availability .description-value {
  grid-area: description-value;
}

.block-service-availability .tabs {
  margin: 35px 0 0 0;
}

.block-service-availability [role=tablist] {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.block-service-availability [role="tab"],
.block-service-availability [role="tab"]:focus,
.block-service-availability [role="tab"]:hover {
  margin: 0 0 6px 0;
  padding: 10px;
  outline: none;
  font-size: large;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.block-service-availability #service-availability-tab-active { 
  background-color: rgb(36 116 214);
  height: 6px;
  width: 50px;
}

/* Use a collapsed column to break to a new column */
.block-service-availability .break {
  flex-basis: 100%;
  height: 0;
}

/* .block-service-availability [role="tabpanel"] {
  transition: display 10.9s;
} */


