{#
/**
 * @file
 * Service Availability theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - images_path: Path to the module.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'service-' ~ service_label|clean_class,
  ]
%}

<div{{attributes.addClass(classes)}}>
	{{ title_prefix }}
	{% if label %}
		<h2{{title_attributes}}>{{ label }}</h2>
	{% endif %}
	{{ title_suffix }}
	{% set index = 0 %}
	{% block content %}
		<div{{content_attributes.addClass('content')}}>
			<h3>{{ 'Current status'|t }}</h3>
			{% if current_status == 'normal' %}
				<div class="current normal">
					<div class="heading">
						<img src="{{ images_path }}/current-normal.svg" alt="{{ 'Service availability status: normal'|t }}">
						<h3>{{ 'All services are running normally'|t }}</h3>
					</div>
				</div>
			{% elseif current_status == 'limited' %}
				<div class="current limited">
					<div class="heading">
						<img src="{{ images_path }}/current-limited.svg" alt="{{ 'Service availability status: limited'|t }}">
						<h3>{{ 'Limited service availability'|t }}</h3>
					</div>
					{% if current_status_messages|render|trim is not empty %}
						<hr>
						<details>
							<summary role="button" aria-expanded="false" tabindex="0">{{ 'detailed outage information'|t }}</summary>
							{% if current_status_messages["#title"] %}
                <div class="mb-10" style="font-weight: 700;">{{ 'Description'|t }}:</div>
							{% endif %}
							<div>{{ current_status_messages }}</div>
						</details>
					{% endif %}
				</div>
			{% elseif current_status == 'down' %}
				<div class="current down">
					<div class="heading">
						<img src="{{ images_path }}/current-down.svg" alt="{{ 'Service availability status: down'|t }}">
						<h3>{{ 'All services are down'|t }}</h3>
					</div>
					{% if current_status_messages|render|trim is not empty %}
						<hr>
						<details>
							<summary role="button" aria-expanded="false" tabindex="0">{{ 'detailed outage information'|t }}</summary>
							{% if current_status_messages["#title"] %}
                <div class="mb-10" style="font-weight: 700;">{{ 'Description'|t }}:</div>
							{% endif %}
							<div>{{ current_status_messages }}</div>
						</details>
					{% endif %}
				</div>
			{% endif %}

			{% if days %}
				<h3>{{ 'Upcoming maintenance'|t }}</h3>
				{% for day in days %}
					{% for message in day["#messages"] %}
						{% set index = index + 1 %}
						<div class="upcoming">
							<div class="heading">
								{% if message["#impact"] == 'down' %}
									<img src="{{ images_path }}/upcoming-down.svg" alt="{{ 'Service availability status: error'|t }}">
								{% else %}
									<img src="{{ images_path }}/upcoming-limited.svg" alt="{{ 'Service availability status: warning'|t }}">
								{% endif %}
								<h4>{{ 'Planned outage on the'|t }} {{ day["#date"] }}</h4>
							</div>
							<hr>
							<details>
								<summary role="button" aria-expanded="false" tabindex="0">{{ 'detailed outage information'|t }}</summary>
								<div>{{ message }}</div>
							</details>
						</div>
					{% endfor %}
				{% endfor %}
			{% endif %}
		</div>
	{% endblock %}
</div>
