<div class="service-message">
  <div class="date label colunm-1">{{ 'Date'|t }}:</div>
  <div class="date-value colunm-2">{{ date }}</div>
  <div class="time  label">{{ 'Time'|t }}:</div>
  <div class="time-value">{{ time }}</div>
  <div class="duration label">{{ 'Duration'|t }}:</div>
  <div class="duration-value">{{ duration }}</div>
  <div class="impact label">{{ 'Impact'|t }}:</div>
  <div class="impact-value">{{ (impact == 'down') ? 'High' : (impact == 'limited') ? 'Low' : impact|capitalize }}</div>
  <div class="description label  colunm-3">{{ 'Description'|t }}:</div>
  <div class="description-value  colunm-4">{{ description }}</div>
</div>