{#
/**
 * @file
 * Display service availability content.
 *
 * Available variables:
 * - layout: String that will determine the layout of the block.
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% if services %}

  {% set selected = 'true' %}
  {% set display = '' %}

  <div class="tabs">
    <div role="tablist" aria-label="Service Availability" aria-labelledby="tablist-1" class="automatic tab-controls">

      {% for service in services %}
        <button
          role="tab"
          aria-selected="{{ selected }}"
          aria-controls="tabpanel-{{ service['#service_label']|clean_class }}"
          id="tab-{{ service['#service_label']|clean_class }}"
          type="button"
          tabindex="0">
          {{ service['#service_label'] }}
        </button>

        {% set selected = 'false' %}

      {% endfor %}

    </div>

    <div id="service-availability-tab-active" class ="tab-active"></div>

    {% for service in services %}
      <div id="tabpanel-{{ service['#service_label']|clean_class }}" 
            role="tabpanel" 
            tabindex="0" 
            class="{{ display }}"
            aria-labelledby="tab-{{ service['#service_label']|clean_class }}">
        {{ service }}
      </div>

      {% set display = 'hidden' %}

    {% endfor %}

  </div>

{% endif %}

